<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Resources/main.css">
    <script src="/main1.js"></script>
    <!-- <script src="/chat.js"></script> -->
    <title>ChatApp</title>
</head>
<body>
    <header>
        <h1>Chat App</h1>
    </header>
    <section class="main-chat-section">
        <!-- Left Panel (Contacts) -->
        <div class="contact-section">
            <h2>Groups</h2>
            <button id="createGroupBtn">➕ Create Group</button>
            <ul id="contact-list"></ul>
        </div>

        <!-- Right Panel (Chat) -->
        <div class="chat-container">
            <!--Here will be the title card for Group-->
            <div class="group-header">
                <span class="group-title">Select a Group</span>
                <div class="group-header-buttons membershown">
                    <button id="generateMemberList" class="group-btn">Members</button>
                    <button id="leaveGroupBtn" class="group-btn danger">Leave group</button>
                </div>
            </div>

            <ul class="chat-section">
                <li class="chat-message">
                    <span class="sender-name">Alice</span>
                    <p class="message-content">Hello</p>
                </li>
                <li class="chat-message">
                    <span class="sender-name">John Doe</span>
                    <p class="message-content">Hey There!</p>
                </li>
            </ul>
            <div id="anchor"></div>

            <!-- Input Field inside chat-container -->
            <div class="chat-input membershown">
                <span id="chatEmpty"></span>
                <input type="text" id="chat-box" name="chat-box" placeholder="Type a Message..." required>
                <button type="submit" id="sendChatBtn">Send ></button>
            </div>
        </div>
    </section>

    <section id="groupPopup" class="popup-container1">
        <div class="popup-content">
            <h2>Create Group</h2>
            <input type="text" id="groupName" placeholder="Enter group name" required>
            <div class="popup-buttons">
                <button id="cancelBtn">Cancel</button>
                <button id="createBtn">Create</button>
            </div>
        </div>
    </section>
    <section id="memberPopup" class="popup-container2">
        <div class="popup-content">
            <h2>Group Members</h2>
            <div class="member-controls">
                <button id="addMemberToList"  class="add-btn admin">➕ Add Member</button>
                <button id="memberListClose"  class="close-btn">✖ Close</button>
            </div>
    
            <ul class="memberList">
                <li class="member-item">
                    <span class="member-name">Alice</span>
                    <div class="member-actions">
                        <button class="upgrade-btn admin">Upgrade</button>
                        <button class="remove-btn admin">Remove</button>
                    </div>
                </li>
                
                <li class="member-item">
                    <span class="role_type"><b>Admin</b></span>
                    <span class="member-name"><u>John Doe</u></span>
                    <div class="member-actions">
                        <button class="upgrade-btn">Upgrade</button>
                        <button class="remove-btn">Remove</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="addMemberPopup" class="popup-container1">
        <div class="popup-content">
            <h2>Add Member</h2>
            <input type="text" id="memberDet" placeholder="Enter an email or Mobile no." required>
            <div class="popup-buttons">
                <button id="closeBtn">Cancel</button>
                <button id="AddBtn">Add</button>
            </div>
        </div>
    </section>

</body>
</html>
