<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/signup.js"></script>
    <title>Sign-Up</title>
</head>
<body>
    <section class="sign-up-contain">
        <h2>Sign-Up</h2>
        <form id="signUpForm" onsubmit="checkSignUp(event)">
            <div class="input-group">
                <label for="UserName">Name:</label>
                <input type="text" name="UserName" id="UserName" required>
            </div>
            <div class="input-group">
                <label for="UserMail">Email:</label>
                <input type="email" name="UserMail" id="UserMail" required>
            </div>
            <div class="input-group">
                <label for="UserNumber">Mobile No. :</label>
                <input type="number" name="UserNumber" id="UserNumber" required>
            </div>
            <div class="input-group">
                <label for="Password">Password</label>
                <input type="password" name="Password" id="Password">
            </div>
            <div class="input-group">
                <label for="Repeat-Password">Repeat Password</label>
                <input type="password" name="Repeat-Password" id="Repeat-Password">
            </div>
            <span id="error"></span>
            <button type="submit">Sign-Up!</button>
        </form>
        <p>Already a User? Go to _</p>
    </section>
</body>
</html>